<div class="data-title data-contact">{{ include(':app/_partial:_link_contacts.html.twig', {contacts: dossier.contacts, sousContact: true}) }}</div>
{% if dossier.id is defined and dossier.realOperation is defined %}
    <div class="data-operation-type">{{ dossier.realOperation }}</div>
{% endif %}
{% if dossier.id is defined and dossier.numero is defined %}
	<div class="data-dossier">
	    <a href="{{ url('dossier.view', {id: dossier.id}) }}">
	        N° <span class="data-numero">{{ dossier.numero }}</span>
	    </a>
   </div>
{% endif %}
