<div class="text-center">
    <h2>En cours de développement</h2>
    <p>Retrouvez bientôt ici des statistiques et infos relatives à votre activité</p>
    <br>
    <br>
    <img src="{{ asset('dashboard.png') }}" alt="" style="max-width:100%;height:auto;">
</div>
