<h2>Divers</h2>

<h3>Classes</h3>
<div class="content-block">
    
    <div class="sample row">
        <div class="sample-render col-sm-3">
            <span class="control-label">.xs-show</span>
            <span class="help-block">Afficher sur mobile</span>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="xs-show"&gt;...&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>
    
    <div class="sample row">
        <div class="sample-render col-sm-3">
            <span class="control-label">.xs-hide</span>
            <span class="help-block">Masquer sur mobile</span>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="xs-hide"&gt;...&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>
    
    <div class="sample row">
        <div class="sample-render col-sm-3">
            <span class="control-label">.sm-show</span>
            <span class="help-block">Afficher sur tablette et mobile</span>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="sm-show"&gt;...&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>
    
    <div class="sample row">
        <div class="sample-render col-sm-3">
            <span class="control-label">.sm-hide</span>
            <span class="help-block">Masquer sur tablette et mobile</span>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="sm-hide"&gt;...&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>
    
    <div class="sample row">
        <div class="sample-render col-sm-3">
            <span class="control-label">.form-top</span>
            <span class="help-block">Aligner en haut le label d'un champ</span>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="form-group form-top"&gt;...&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>

</div>

<h3>HTML</h3>
<div class="content-block">
    <div class="sample row">
        <div class="sample-render col-sm-3">
            <span class="control-label">Section heading</span>
            <span class="help-block">Entête avec titre à gauche et actions ou infos à droite.</span>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="section-heading"&gt;
  &lt;div class="section-heading-main">...&lt;/div&gt;
  &lt;div class="section-heading-extra">...&lt;/div&gt;
&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>
</div>