<h2>Formulaires</h2>

<h3>Checkbox 2</h3>
<div class="content-block">

    <div class="sample row">
        <div class="sample-render col-sm-3">
            <div class="checkbox2">
                <label>
                    <input type="checkbox">
                    <span class="box"></span>
                    Checkbox 2
                </label>
            </div>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="checkbox2"&gt;
    &lt;label&gt;
        &lt;input type="checkbox"&gt;
        &lt;span class="box">&lt;/span&gt;
    &lt;/label&gt;
&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-3">
            <div class="checkbox-group">
                <div class="checkbox2">
                    <label>
                        <input type="checkbox" name="lorem" checked>
                        <span class="box"></span>
                        1
                    </label>
                </div>
                <div class="checkbox2">
                    <label>
                        <input type="checkbox" name="lorem">
                        <span class="box"></span>
                        2
                    </label>
                </div>
                <div class="checkbox2">
                    <label>
                        <input type="checkbox" name="lorem">
                        <span class="box"></span>
                        3
                    </label>
                </div>
                <div class="checkbox2">
                    <label>
                        <input type="checkbox" name="lorem">
                        <span class="box"></span>
                        4
                    </label>
                </div>
            </div>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="checkbox-group"&gt;
    &lt;div class="checkbox2"&gt;
        &lt;label&gt;
            &lt;input type="checkbox" name="lorem" checked&gt;
            &lt;span class="box">&lt;/span&gt;
            1
        &lt;/label&gt;
    &lt;/div&gt;
    ...
&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-3">
            <div class="checkbox-group">
                <div class="checkbox2 checkbox-inline">
                    <label>
                        <input type="checkbox" name="ipsum" checked>
                        <span class="box"></span>
                        1
                    </label>
                </div>
                <div class="checkbox2 checkbox-inline">
                    <label>
                        <input type="checkbox" name="ipsum">
                        <span class="box"></span>
                        2
                    </label>
                </div>
                <div class="checkbox2 checkbox-inline">
                    <label>
                        <input type="checkbox" name="ipsum">
                        <span class="box"></span>
                        3
                    </label>
                </div>
                <div class="checkbox2 checkbox-inline">
                    <label>
                        <input type="checkbox" name="ipsum">
                        <span class="box"></span>
                        4
                    </label>
                </div>
            </div>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="checkbox-group"&gt;
    &lt;div class="checkbox2 checkbox-inline"&gt;
        &lt;label&gt;
            &lt;input type="checkbox" name="ipsum" checked&gt;
            &lt;span class="box">&lt;/span&gt;
            1
        &lt;/label&gt;
    &lt;/div&gt;
    ...
&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>

</div>

<h3>Radio 2</h3>
<div class="content-block">

    <div class="sample row">
        <div class="sample-render col-sm-3">
            <div class="radio2">
                <label>
                    <input type="radio">
                    <span class="box"></span>
                    Radio 2
                </label>
            </div>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="radio2"&gt;
    &lt;label&gt;
        &lt;input type="radio"&gt;
        &lt;span class="box">&lt;/span&gt;
        1
    &lt;/label&gt;
&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-3">
            <div class="radio-group">
                <div class="radio2">
                    <label>
                        <input type="radio" name="lorem" checked>
                        <span class="box"></span>
                        1
                    </label>
                </div>
                <div class="radio2">
                    <label>
                        <input type="radio" name="lorem">
                        <span class="box"></span>
                        2
                    </label>
                </div>
                <div class="radio2">
                    <label>
                        <input type="radio" name="lorem">
                        <span class="box"></span>
                        3
                    </label>
                </div>
                <div class="radio2">
                    <label>
                        <input type="radio" name="lorem">
                        <span class="box"></span>
                        4
                    </label>
                </div>
            </div>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="radio-group"&gt;
    &lt;div class="radio2"&gt;
        &lt;label&gt;
            &lt;input type="radio" name="lorem" checked&gt;
            &lt;span class="box">&lt;/span&gt;
            1
        &lt;/label&gt;
    &lt;/div&gt;
    ...
&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>

    <div class="sample row">
        <div class="sample-render col-sm-3">
            <div class="radio-group">
                <div class="radio2 radio-inline">
                    <label>
                        <input type="radio" name="ipsum" checked>
                        <span class="box"></span>
                        1
                    </label>
                </div>
                <div class="radio2 radio-inline">
                    <label>
                        <input type="radio" name="ipsum">
                        <span class="box"></span>
                        2
                    </label>
                </div>
                <div class="radio2 radio-inline">
                    <label>
                        <input type="radio" name="ipsum">
                        <span class="box"></span>
                        3
                    </label>
                </div>
                <div class="radio2 radio-inline">
                    <label>
                        <input type="radio" name="ipsum">
                        <span class="box"></span>
                        4
                    </label>
                </div>
            </div>
        </div>
        <div class="sample-desc col-sm-9">
{% raw %}<pre>
&lt;div class="radio-group"&gt;
    &lt;div class="radio2 radio-inline"&gt;
        &lt;label&gt;
            &lt;input type="radio" name="ipsum" checked&gt;
            &lt;span class="box">&lt;/span&gt;
            1
        &lt;/label&gt;
    &lt;/div&gt;
    ...
&lt;/div&gt;
</pre>{% endraw %}
        </div>
    </div>

</div>