<noscript>
    {% set alertJavascriptDesactive %}
        <h2>Javascript est actuellement désactivé !</h2>
        <p>Afin de pouvoir utiliser l'application dans les meilleures conditions, vous devez activer Javascript.</p>
    {% endset %}
    {{ include('app/_partial/_alert_danger.html.twig', {message: alertJavascriptDesactive}) }}
</noscript>
