{% if datetime is defined %}
    <span class="data-dateheure">
        <span class="data-date">{{ datetime|date('d/m/Y') }}</span>
        <span class="data-heure">{{ datetime|date('H:i:s') }}</span>
    </span>
{% endif %}
