<div class="footer-fixed hidden">
    <div class="form-group form-submit">
        <div class="btn-wrapper">
            <button disabled="disabled" type="button" id="attribuerAction" class="btn btn-default">
                {{ icone_modifier_attribution() }}
                {{ 'app.dossier.liste.modifier_attribution'|trans }}
            </button>
        </div>
    </div>
</div>
