{% for contact in contacts %}
    {% set dossierContacts = [contact] %}
    {% if contact.sousContact is not null and sousContact == true %}
        {% set dossierContacts = dossierContacts|merge([contact.sousContact]) %}
    {% endif %}

    <a href="{{ url('contact.consulter', {id: contact.id}) }}">
        {% for dossierContact in dossierContacts %}
            <span class="data-contact">{{ dossierContact.fullName }}</span>{% if loop.index != loop.last %}, {% endif %}
        {% endfor %}
    </a>
{% else %}
    -
{% endfor %}
