{% if data.id is defined %}
    <a href="#" class="data-dossier">
        <span class="data-numero">Terrain-{{ data.id }}</span>
        <span class="data-operation-type">Sous info</span>
    </a>
{% endif %}
