{% extends 'layout.html.twig' %}

{% block title %}Le 4L Trophy | 4Erudition{% endblock %}

{% block og %}
    <meta property="og:title" content="Description du 4L Trophy, 4erudition"/>
    <meta property="og:url" content="http://4erudition.fr/4LTrophy"/>
    <meta property="og:description" content="Le 4L Trophy, c'est 82 tonnes de fournitures scolaires réparties dans des centres de protection de l’enfance en 2015.
C'est aussi 69 900 enfants scolarisés dans de bonnes conditions depuis la première édition du Raid 4LTrophy..."/>
{% endblock %}

{% block keys %}4 erudition, for erudition, 4L, Trophy, erudition, 4l trophy, 4l, fournitures, scolaire, 4 érudition{% endblock %}

{% block Description %}
    Le 4L Trophy, c'est 82 tonnes de fournitures scolaires réparties dans des centres de protection de l’enfance en 2015.
    C'est aussi 69 900 enfants scolarisés dans de bonnes conditions depuis la première édition du Raid 4LTrophy...{% endblock %}

{% block Ltrophy %}class="active"{% endblock %}

{% block h1 %}Le 4L Trophy, une aventure incroyable pour notre association : 4 erudition{% endblock %}

{% block body %}

    <div class="container">
        <div class="section">
            <div class="row center">
                <div class="col s12 m12 l10 offset-l1">
                    <h2 class="center brown-text">Quelques chiffres</h2>

                    <p class="left-align flow-text">
                        Lors de l’édition <strong>2015</strong>, la 19e du Raid 4L Trophy, 1250 équipages soit <strong>2500
                            participants</strong> issus de
                        plusieurs écoles différentes ont participé.
                        L'objectif de ce raid, Marrakech, destination finale d’un périple de <strong>10 jours</strong>
                        avec plus de <strong>6000
                            kilomètres</strong> parcourus sur les routes de France, d’Espagne et sur les pistes du
                        Maroc. Autant
                        d’éléments qui font du Raid 4L Trophy le plus grand raid étudiant d’Europe.
                    </p>

                    <p class="left-align flow-text">
                        Le 4L Trophy, c'est <strong>82 tonnes</strong> de fournitures scolaires et équipements sportifs
                        répartis dans
                        des centres de protection de l’enfance en 2015.
                        C'est aussi <strong>281 tonnes de fournitures</strong> et <strong>69 900 enfants
                            scolarisés</strong> dans de bonnes
                        conditions depuis la première édition du Raid 4LTrophy™
                    </p>

                    <h3 class="center brown-text">Une aventure humaine</h3>

                    <p class="left-align flow-text">
                        Mais plus que de simples chiffres alignés sur un bout de papier, le Raid 4L Trophy est une
                        <strong>formidable aventure humaine, sportive et solidaire</strong> pour les étudiants âgés de
                        18 à 28 ans.
                    </p>

                    <p class="left-align flow-text">
                        Ici, il n’est pas question de vitesse mais d’orientation pour "gagner" ce raid. En effet, même
                        si
                        c'est une compétition entre étudiants, c'est surtout dans un objectif
                        humanitaire que ce raid existe. Nous avons la chance, en France, de pouvoir réaliser des
                        études, cette chance n'est malheurement pas mondiale. Participer à ce raid, c'est permettre de
                        soutenir
                        l'éducation d'un pays où elle n'est pas optimale. Relever ce défi, c’est
                        franchir la ligne d’arrivée en apportant notre aide. Pour y parvenir, nous devons nous
                        entraider,
                        déjouer les pièges d’oueds et de sable dans lesquels nous nous ensablerons certainement !
                        De même, lorsque le désert aura frappé nos mécaniques, l'entraide entre participant sera
                        un point clé.
                    </p>

                    <p class="left-align flow-text">
                        <strong>C’est grâce à l’entraide</strong> que naîtra sur les visages de chacun l’immense
                        satisfaction du devoir
                        accompli, la fierté d’avoir tout donné pour soi et pour les autres.
                    </p>

                    <p class="left-align flow-text">
                        En plus de leur soif de grands espaces, les équipages embarquent à bord de leur 4L du<strong>
                            matériel
                            et des fournitures scolaires</strong> destinées aux enfants les plus démunis du Maroc.
                        Ancrée
                        dans l’ADN
                        du Raid 4L Trophy, <strong>la solidarité</strong> vis à vis des populations locales n’est pas un
                        vain mot.
                    </p>

                    <h4 class="center brown-text">Média</h4>

                    <div class="divider"></div>

                    <div class="section">
                        <h3 class="brown-text flow-text">
                            <strong>Chaque année :</strong>
                        </h3>
                        <ul>
                            <li class="left-align flow-text"><i class="tiny material-icons">label_outline</i>
                                6000 articles de presses écrite
                            </li>
                            <li class="left-align flow-text"><i class="tiny material-icons">label_outline</i>
                                11h de reportages TV et web TV
                            </li>
                            <li class="left-align flow-text"><i class="tiny material-icons">label_outline</i>
                                3h de radio
                            </li>
                            <li class="left-align flow-text"><i class="tiny material-icons">label_outline</i>
                                9 000 photos par jour
                            </li>
                        </ul>
                    </div>

                    <div class="divider"></div>

                    <div class="section">
                        <h3 class="brown-text flow-text">
                            <strong>Durant le Raid :</strong>
                        </h3>
                        <ul>
                            <li class="left-align flow-text"><i class="tiny material-icons">label</i>
                                L’installation d’une salle de presse sur les bivouacs avec une diffusion régulière de
                                communiqués de presse.
                            </li>
                            <li class="left-align flow-text"><i class="tiny material-icons">label</i>
                                La mise en ligne chaque soir d’un Journal Télévisé (4L TV) sur le
                                www.4ltrophy.com. s’accompagne d'un résumé de l’étape du jour et d’une sélection photos.
                            </li>
                            <li class="left-align flow-text"><i class="tiny material-icons">label</i>
                                La présence d’une société de production pour filmer, monter puis
                                transmettre quotidiennement les images du Raid aux chaînes nationales et internationales.
                            </li>
                            <li class="left-align flow-text"><i class="tiny material-icons">label</i>
                                La présence d’une équipe de photographes professionnels (photographes du Dakar) pour assurer
                                le suivi photo de l’épreuve auprès de la Presse écrite et d’Internet (9 000 photos / jour).
                            </li>
                        </ul>
                    </div>

                    <div class="col l3">
                        <a href="http://www.4ltrophy.com" target="_blank">
                            <img
                                   src="{{ asset('img/logo4L.png') }}" height="166"
                                   width="230" alt="logo site 4L Trohpy">
                        </a>
                    </div>
                    <div class="col l3">
                        <a href="http://www.enfantsdudesert.org" target="_blank">
                            <img
                                    src="{{ asset('img/logoEnfantDesert.png') }}" height="166"
                                    width="230" alt="logo site enfant du desert">
                        </a>
                    </div>
                    <div class="col l3">
                        <a href="http://www.4ltrophy.com/#/category/eco-citoyennete-solidarite/engagements-eco-citoyens" target="_blank">
                            <img
                                    src="{{ asset('img/logoEngagement.png') }}" height="166"
                                    width="230" alt="logo site engagement eco">
                        </a>
                    </div>
                    <div class="col l3">
                        <a href="http://www.4ltrophy.com/dstcache/www_4ltrophy_com/1e491bb2a54387153494ec3600a25e2f.html" target="_blank">
                            <img
                                    src="{{ asset('img/logoSolidaire.png') }}" height="166"
                                    width="230" alt="logo site solidarité">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}