{% extends 'layout.html.twig' %}

{% block og %}
    <meta property="og:title" content="Accueil 4erudition"/>
    <meta property="og:url" content="http://4erudition.fr/"/>
    <meta property="og:description" content="Nous sommes deux étudiants et amis qui avons pour objectif de participer au 4L Trophy de 2017.
Nous vous communiquerons toutes nos avancées, toutes les personnes et entreprises qui nous soutiendront
dans ce projet débordant d'ambitions et d'enjeux."/>
{% endblock %}

{% block keys %}4 erudition, for erudition, 4L, Trophy, erudition, 4l trophy, 4l, enfant, raid, 4 érudition{% endblock %}

{% block title %}Accueil | 4Erudition{% endblock %}

{% block Description %}Nous sommes deux étudiants et amis qui avons pour objectif de participer au 4L Trophy de 2017.
    Nous vous communiquerons toutes nos avancées, toutes les personnes et entreprises qui nous soutiendront dans ce projet
    débordant d'ambitions et d'enjeux.{% endblock %}

{% block Laccueil %}class="active"{% endblock %}

{% block h1 %}L'association 4Erudition pour la participation au raid 4L Trophy 2017{% endblock %}

{% block body %}

    <!-- Partie Descrituve de l'asso -->
    <div class="container">
        <div class="row center">
            <div class="col s12 m12 l10 offset-l1">
                <h2 class="brown-text">Deux étudiants se lancent dans l'aventure 4L Trophy</h2>

                <p class="left-align flow-text">
                    Nous sommes deux étudiants, mais avant tous amis, qui avons pour ambition de participer au <strong>4L Trophy
                    de 2017</strong>. Notre participation à ce raid est bien plus qu’un simple projet entre amis, c’est pour nous
                    <strong>une aventure humaine et enrichissante</strong> qui se doit d'être vécue au moins une fois dans sa vie. Nous
                    avons la conviction de participer à la <strong>20ème édition du 4L Trophy</strong> afin de vivre cette expérience
                    humaine et sportive où la solidarité, l’entraide, et le challenge sont au cœur de cette aventure.
                </p>

                <p class="left-align flow-text">
                    Cette association a été créée spécialement dans cet objectif. 4Erudition pour "For Erudition", le
                    chiffre quatre représentant également le 4 du <strong>4L Trophy</strong>. L’érudition est la recherche de nouveaux
                    savoirs, l’approfondissement des connaissances. Que ce soit nos connaissances en participant à
                    cette aventure, ou celle des enfants que nous aurons le privilège d'aider en leur apportant
                    de quoi apprendre dans de bonnes conditions.
                </p>

            </div>
        </div>
    </div>

    <!-- Notre partie -->
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row">
                    <!-- h2 class="header col s12 light brown-text" eventuelle -->
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('img/amis.jpg') }}"
                                   alt="photo nous réunissant"></div>
    </div>

    <div class="container">
        <div class="row center">
            <div class="col s12 m12 l10 offset-l1">
                <h2 class="center brown-text">Un défi sportif et mécanique : des 4L pour des écoliers</h2>
                <p class="left-align flow-text">
                    Nous avons découvert les joies de la mécanique quand nous avons eu notre première voiture. Cela a
                    suscité en nous la curiosité de toujours savoir comment ça fonctionne, et pourquoi il y a une panne.
                    Avec le temps, nous sommes devenus <strong>de grand passionné de mécanique</strong> et de sport automobile. Chaque
                    nouvelle connaissance que nous acquérons, nous voulons la partager ensemble.
                </p>
                <p class="left-align flow-text">
                    Nous avons entendu parler à plusieurs reprises du 4L Trophy. Puis, lors d'un repas, nous nous sommes
                    soumis l'idée d'y participer. Alors nous nous sommes renseigné, nous avons énormément lu de donné
                    le concernant, que ce soit au point de vue de la solidarité qu'il engendre, des bénéfices qu'il
                    permet de donner, ou du <strong>challenge sportif et mécanique</strong> qu'il apporte. Chaque nouvelle donnée que
                    nous apprenions dessus nous motive encore plus à vouloir participer à ce 4l Trophy.
                </p>
                <p class="left-align flow-text">
                    C'est maintenant à <strong>nous d'agir afin d'aider ces enfants</strong>, de participer à cette
                    aventure, et de nous entraider nous tous étudiants !
                </p>
                <p class="left-align flow-text">
                    Afin de nous permettre d’atteindre ce but, contribuez à notre aventure en nous soutenant comme vous
                    le souhaitez. Nous avons besoin de votre aide pour construire notre projet.

                </p>

            </div>
        </div>
    </div>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h3 class="flow-text white-text">Nous soutenir c'est aussi les soutenir !</h3>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('img/background4.jpg') }}"
                                   alt="photo enfant marocain 4L 2012"></div>
    </div>

    <div class="container">
        <div class="row center">
            <div class="col s12 m12 l10 offset-l1">
                <h2 class="center brown-text">Actualité</h2>
                <div class="divider"></div>
                {{ include('BaseBundle/article.html.twig') }}
            </div>
        </div>
    </div>



{% endblock %}
