{% extends 'layout.html.twig' %}

{% block og %}
    <meta property="og:title" content="Mentions Légales 4erudition"/>
    <meta property="og:url" content="http://4erudition.fr/mentions"/>
    <meta property="og:description"
          content="Mentions légales relatives aux informations distribuées par ce site. 4erudition.fr."/>
{% endblock %}

{% block keys %}4 erudition, for erudition, Trophy, erudition, 4l trophy, 4l, mentions, légales, pierre, 4 érudition{% endblock %}

{% block title %}Mentions légales | 4Erudition{% endblock %}

{% block Description %}Mentions légales relatives aux informations distribuées par ce site. 4erudition.fr{% endblock %}

{% block h1 %}Mentions légales de 4 erudition pour le 4l trophy 2017{% endblock %}

{% block body %}


    <div class="container">
        <div class="section">

            <div class="row center">
                <div class="col s12 m12 l10 offset-l1">
                    <h2 class="center brown-text inter">Propriétaire du site</h2>
                    <p class="left-align flow-text">
                        Pierre PEREZ
                    </p>
                    <p class="left-align flow-text">
                        91 Avenue Pierre Semard
                    </p>
                    <p class="left-align flow-text">
                        84000 Avignon - France
                    </p>
                    <p class="left-align flow-text">
                        pierre.perez@alumni.univ-avignon.fr
                    </p>
                </div>

                <div class="col s12 m12 l10 offset-l1">
                    <h2 class="center brown-text inter">Hébergement</h2>
                    <p class="left-align flow-text">
                        OVH
                    </p>
                    <p class="left-align flow-text">
                        Siège social :
                    </p>
                    <p class="left-align flow-text">
                        2 rue Kellermann
                    </p>
                    <p class="left-align flow-text">
                        59100 Roubaix – France
                    </p>
                    <p class="left-align flow-text">
                        Directeur de la publication : Octave KLABA
                    </p>
                </div>

                <div class="col s12 m12 l10 offset-l1">
                    <h2 class="center brown-text inter">Propriété Intellectuelle</h2>
                    <p class="left-align flow-text">
                        Les éléments de ce site internet (formes, photos, images, mise en page, fonds, structure etc…)
                        sont protégés par le droit d’auteur. Toute personne ne respectant pas ce droit de propriété se
                        rend coupable du délit de contrefaçon et est passible de sanctions pénales prévues par la loi.
                        Utilisation des images du Raid 4L Trophy 2014, 2013 et 2012, et utilisation des textes du site :
                        http://4ltrophy.com
                    </p>
                    <p class="left-align flow-text">
                        Document PDF et réalisation graphique et technique : © Pierre PEREZ 2016 Tous droits réservés
                    </p>
                </div>
                <div class="col s12 m12 l10 offset-l1">
                    <h2 class="center brown-text inter">Hyperliens</h2>
                    <p class="left-align flow-text">
                        Tous les liens de ce site sont librement établis sauf s’ils sont à des fins commerciales, ou
                        s’ils diffusent des informations illicites, violentes, pornographiques, etc…
                    </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}