{% extends 'layout.html.twig' %}

{% block og %}
    <meta property="og:title" content="News 4erudition"/>
    <meta property="og:url" content="http://4erudition.fr/news"/>
    <meta property="og:description"
          content="Toutes les nouveautés qui concernent notre aventure pour participer au 4L Trophy.
           Notre association, nos sponsors, nos démarches. Chaque pas sera décrit au sein de cette page."/>
{% endblock %}

{% block keys %}4 erudition, for erudition, 4L, Trophy, erudition, 4l trophy, 4l, nouveauté, news, 4 érudition{% endblock %}

{% block title %}News | 4Erudition{% endblock %}

{% block Description %}Toutes les nouveautés qui concernent notre aventure pour participer au 4L Trophy. Notre association,
nos sponsors,nos démarches. Chaque pas sera décrit au sein de cette page.{% endblock %}

{% block Lnews %}class="active"{% endblock %}

{% block h1 %}Les nouveautés de 4Erudition dans le but de participer au 4L Trophy 2017{% endblock %}

{% block body %}

    <div class="container">
        <div class="row center">
            <div class="col s12 m12 l12 ">
                <h2 class="center brown-text">Nouvelles Informations</h2>
                <p class="flow-text">
                    Retrouvez ici toutes nos nouveautés concernant l'avancée de notre <strong>incroyable
                        aventure</strong> !
                </p>
                <div class="divider"></div>
                {{ include('BaseBundle/article.html.twig') }}
            </div>
            {#
            <div class="col l2 hide-on-med-and-down" id="sidebar">
                <h2 class="center brown-text h4">Catégories</h2>
                <div class="divider"></div><br />

                <a href="#" class="h5">Tous nos articles</a><br /><br />
                <a href="#" class="h5">Financement</a><br /><br />
                <a href="#" class="h5">Mécanique</a><br /><br />
                <a href="#" class="h5">Nos péripéties</a><br /><br />
                <a href="#" class="h5">Partanires / Sponsors</a><br /><br />

            </div>
            #}
        </div>
    </div>


{% endblock %}
