{% extends 'layout.html.twig' %}

{% block og %}
    <meta property="og:title" content="Nous soutenir 4erudition"/>
    <meta property="og:url" content="http://4erudition.fr/soutiens"/>
    <meta property="og:description"
          content="Vous découvrirez comment nous soutenir pour la participation au 4L Trophy 2017.
    Plusieurs méthodes sont possibles, que ce soit par le financement participatif ou par du sponsoring"/>
{% endblock %}

{% block keys %}4 erudition, for erudition, Trophy, erudition, 4l trophy, 4l, soutenir, 2017, sponsors, 4 érudition{% endblock %}

{% block title %}Nous soutenir | 4Erudition{% endblock %}

{% block Description %}Vous découvrirez comment nous soutenir pour la participation au 4L Trophy 2017.
    Plusieurs méthodes sont possibles, que ce soit par le financement participatif ou par du sponsoring{% endblock %}

{% block Lsoutiens %}class="active"{% endblock %}

{% block h1 %}Comment nous soutenir pour la participation de l'association 4 erudition au 4l trophy 2017{% endblock %}

{% block body %}

    <div class="container">
        <div class="row center">
            <div class="col s12 m12 l10 offset-l1">
                <h2 class="center brown-text">Comment nous soutenir ?</h2>

                <div class="divider"></div>

                <div class="section">

                    <h3 class="flow-text brown-text">
                        <strong>Une grande aventure pour un petit budget</strong>
                    </h3>

                    <div class="box">
                        <div class="chart-wrapper"></div>
                    </div>

                    <div class="boxMobile">
                        <div class="pieID pie"></div>
                        <ul class="pieID legend">
                            <li>
                                <em>Essence et péages</em>
                                <span>1000</span>
                            </li>
                            <li>
                                <em>Communication</em>
                                <span>150</span>
                            </li>
                            <li>
                                <em>Frais d'inscription</em>
                                <span>2900</span>
                            </li>
                            <li>
                                <em>Frais de pré-inscription</em>
                                <span>400</span>
                            </li>
                            <li>
                                <em>Achat voiture</em>
                                <span>2000</span>
                            </li>
                            <li>
                                <em>Matériel scolaire</em>
                                <span>250</span>
                            </li>
                            <li>
                                <em>Outils et équipements</em>
                                <span>500</span>
                            </li>
                            <li>
                                <em>Préparation voiture</em>
                                <span>2000</span>
                            </li>
                            <li>
                                <em>Assurance</em>
                                <span>300</span>
                            </li>
                        </ul>
                    </div>
                    <p class="center flow-text brown-text"><strong> Total : 9500 €</strong></p>
                    <p class="left-align flow-text">
                        Pour réaliser ce budget, nous avons contacté deux équipes qui ont participé au 4L Trophy
                        des années précédentes. Nous avons ainsi calculé avec une précision importante nos besoins et
                        pris en compte une marge afin de pouvoir rebondir.
                    </p>
                </div>

                <div class="divider"></div>

                <div class="section">
                    <h3 class="brown-text flow-text">
                        <strong>Vous êtes une entreprise ?</strong>
                    </h3>
                    <p class="left-align flow-text">
                        Devenez notre sponsor et participez à notre incroyable aventure !
                    </p>
                    <p class="left-align flow-text">
                        Pour cela, rien de plus simple, en échange d’un partenariat financier, de biens matériels
                        ou de services rendus, vous apparaîtrez sur notre 4L pendant une durée d’un an.
                        Ainsi vous serez ambassadeur du Raid 4L Trophy 2017.
                        De plus, c’est une manière originale de faire de la publicité pour votre entreprise,
                        démarquez-vous avec un encart sur notre 4L de course !
                    </p>
                    <p class="left-align flow-text">
                        Pendant un an nous nous rendrons sur les salons étudiants, les fêtes étudiantes, nous
                        communiquerons
                        sur notre page facebook et sur notre site pour vous donner de la visibilité !
                    </p>
                    <p class="left-align flow-text">
                        <strong>
                            De plus, l'édition 2017 fêtera les 20 ans du 4L Trophy ce qui amènera une couverture
                            médiatique encore plus importante.
                        </strong>
                    </p>
                    <a href="{{ path('formulaire') }}" class="waves-effect waves-light btn amber darken-2 ">
                        Contactez nous</a>
                </div>

                <div class="divider"></div>

                <div class="section">
                    <h3 class="brown-text flow-text">
                        <strong>Il existe plusieurs moyens de nous soutenir :</strong>
                    </h3>
                    <ul>
                        <li class="left-align flow-text liste"><i class="tiny material-icons">label</i>
                            <strong>Le partenariat financier</strong>
                        </li>
                    </ul>
                    <p class="left-align flow-text">
                        Le partenariat financier c’est GAGNANT, GAGNANT !
                        Aidez-nous financièrement et valorisez l’image de votre entreprise !
                        Avec votre logo sur notre 4L, vous serez visible dans notre région pendant un
                        an, mais également pendant 2 semaines lors du raid en France, en Espagne et au Maroc.
                    </p>
                    <ul>
                        <li class="left-align flow-text liste"><i class="tiny material-icons">label</i>
                            <strong>Le partenariat en biens, matériels et service</strong>
                        </li>
                    </ul>
                    <p class="left-align flow-text">
                        Vous pouvez nous aider, en nous fournissant des équipements ou en nous aidant à la
                        préparation
                        de la 4L.
                    </p>
                    <h4 class="left-align flow-text">
                        Nos besoins :
                    </h4>
                    <div class="row">
                        <div class="col l6 m12 s12">
                            <ul>
                                <li class="left-align flow-text liste"><i class="tiny material-icons">label_outline</i>
                                    mécanique
                                </li>
                                <li class="left-align flow-text liste"><i class="tiny material-icons">label_outline</i>
                                    équipement
                                </li>
                                <li class="left-align flow-text liste"><i class="tiny material-icons">label_outline</i>
                                    sécurité
                                </li>
                                <li class="left-align flow-text liste"><i class="tiny material-icons">label_outline</i>
                                    nourriture
                                </li>
                            </ul>
                        </div>
                        <div class="col l6 m12 s12">
                            <ul>
                                <li class="left-align flow-text liste"><i class="tiny material-icons">label_outline</i>
                                    fournitures scolaires
                                </li>
                                <li class="left-align flow-text liste"><i class="tiny material-icons">label_outline</i>
                                    imprimerie (autocolant)
                                </li>
                                <li class="left-align flow-text liste"><i class="tiny material-icons">label_outline</i>
                                    essence
                                </li>
                                <li class="left-align flow-text liste"><i class="tiny material-icons">label_outline</i>
                                    assurance
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>


                <div class="section">
                    <h3 class="brown-text flow-text">
                        <strong>Vous êtes particulier ?</strong>
                    </h3>
                    <p class="left-align flow-text">
                        Le don est un moyen simple de nous aider dans cette grande aventure.
                    </p>
                    <p class="left-align flow-text">
                        Pour faciliter les démarches de dons, nous avons mis en place sur une plateforme de
                        financement participatif notre projet. Vous pouvez ainsi participer facilement et
                        avec le montant que vous désirez.
                    </p>
                    <p class="left-align flow-text">
                        De plus, vous serez notre VIP, vous aurez droit lors de chaque avancée à votre newsletter !
                    </p>
                    <p class="left-align flow-text">
                        Venez soutenir cette aventure !
                    </p>

                    <a class="waves-effect waves-light btn amber darken-2" target="_blank"
                       href="#">En construction</a>

                </div>

            </div>
        </div>
    </div>





{% endblock %}