<div class="checkbox2">
    <label for="{{ data.id }}">
        <input type="checkbox" class="action-checkbox" id="{{ data.id }}"
               value="{{ data.id }}">
        <span class="box"></span>
    </label>
</div>
