{% if utilisateur is defined and utilisateur is not null %}
    <span class="data-utilisateur">
        <span class="user-info">
            <span class="user-img">
                {% if utilisateur.profilePicturePath is not null %}
                    <img src="{{ utilisateur.profilePicturePath | imagine_filter('user_profile') }}" alt="" width="36" height="36">
                {% else %}
                    {{ icone_menu_utilisateurs() }}
                {% endif %}
            </span>
            <span class="user-name">
                {{ utilisateur.fullName|default(null) }}
            </span>
        </span>
    </span>
{% endif %}
